# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_sqlite
    #database_host:     127.0.0.1
    #database_port:     ~
    #database_name:     test_iredmine
    #database_user:     root
    #database_password: ~
    database_path: "%kernel.root_dir%/data.db3"

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    #Redmine API service
    redmine_url: https://redmine.ekreative.com
    redmine_apiKey: 2fda745bb4cdd835fdf41ec1fab82a13ddc1a54c