{% extends 'IRSiteBundle::layout.html.twig' %}

{% block content %}
<h1>Projects</h1>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}