@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
/*-------------------------------------------------------------------------------*/
/*------------------------------------GLOBAL-------------------------------------*/
/*-------------------------------------------------------------------------------*/
html, body {
	margin: 0;
	padding: 0;
    width: 100%;
    height: 90%;
	color: #2e2e2e;
}

h1, h2, h3, h4 {
	font-family: 'Lobster', cursive;
}
h3, h4 {
    font-family: cursive;
}

.load-bar {
    z-index: 2000;
}

/*-------------------------------------------------------------------------------*/
/*------------------------------------      -------------------------------------*/
/*-------------------------------------------------------------------------------*/

.thumbnail .caption h3 {
    margin-top: 0;
    margin-bottom: 20px;
}
.thumbnail .caption span.badge {
    float: right;
}

.panel .panel-heading { cursor: pointer; }
.panel .panel-heading .panel-title .badge { float: right; }
.panel .close { padding: 0; }
.panel .close .list-group { margin-bottom: 0; }